<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>introduction</title>
    <style>
    .right {
        margin-left: 30px;
    }

    h4 {
        margin-left: 30px;
    }

    h1 {
        padding-left: 50px;
    }

    body {
        width: 700px;
        margin: 0px auto;
        font-size: 17px;
    }

    </style>
</head>

<body>
    <header>
        <h1 class="text-center">Nice to meet you,<%= name %></h1>
    </header>
    <main>
        <h2 class="text-center">我的名字:李佳翔</h2>

		<div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">基本資料</h3>
            </div>
            <div class="panel-body">
                <p>
                    <li class="text-success">住址:新北市</li>
                </p>
                <p>
                    <li class="text-success">就讀彰化師範大學資工系</li>
                </p>
                <p>
                    <li class="text-success">20 Ages</li>
                </p>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">我的興趣</h3>
            </div>
            <div class="panel-body">
                <p class="text-primary">KPOPN</p>
                <div class="panel panel-info">
                    <div id="twice" class="panel-heading">
                        <h3 class="panel-title">MOMOLAND</h3>
                    </div>
                    <div class="panel-body">
                        <img src="nancybaby.jpg" class="img-responsive" alt="Cinque Terre" width="500" height="600"> 
                    </div>
                </div>
                <div class="panel panel-info">
                    <div id="twice" class="panel-heading">
                        <h3 class="panel-title">TWICE</h3>
                    </div>
                    <div class="panel-body">
                        <img src="twiceteam.jpg" class="img-responsive" alt="Cinque Terre" width="500" height="600"> 
                    </div>
                </div>
            </div>
        </div>
        
    </main>

</body>

</html>