<!DOCTYPE html>
<html>
<title>music</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-content {
    width: 1200px;
    margin: 0px auto;
}

body,
h1 {
    font-family: "Raleway", Arial, sans-serif
}

.text {
    font-family: "Raleway", Arial, sans-serif;
    text-align: center;
}

h1 {
    letter-spacing: 6px
}

.w3-row-padding img {
    margin-bottom: 12px
}

.imgleft {
    margin-left: 40px;
}

.textleft {
    margin-left: 90px;
}

.stright {
    writing-mode: vertical-rl;
}

article {
    font-size: 25px;
}
</style>

<body>
    <!-- !PAGE CONTENT! -->
    <div class="w3-content" style="max-width:1500px">
        <!-- Header -->
        <header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
            <h1 class="w3-xlarge">INTERESTS</h1>
            <div class="w3-padding-32">
                <div class="w3-bar w3-border">
                   <a href="/about" class="w3-bar-item w3-button">Home</a>
                    <a href="/KPOPN" class="w3-bar-item w3-button w3-light-grey">MUSIC</a>
                    <a href="/WORKOUT" class="w3-bar-item w3-button">WORKOUT</a>
                   
                </div>
            </div>
            <p style="font-size: 25px">My favorite music is K-POP❤</p>
        </header>
        <!-- Photo Grid -->
        <article>
            <div class="w3-row-padding" style="margin-bottom:128px">
                <div class="w3-half">
                    <img src="momoland.jpg" style="width:80%">
                    <img  src="ablack.jpg" style="width:80%">
                </div>
                <div  class="w3-half">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JQGRg8XBnB4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <br/>
                    <br/>
                    <p class="text">MOMOLAND - BoomBoom</p>
                    <br/>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Amq-qlqbjYA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <br/>
                    <br/>
                    <p class="text">BLACKPINK - AS IF IT'S YOUR LAST</p>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </article>
        <!-- End Page Content -->
    </div>
    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
    </footer>
</body>

</html>